<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark py-3 bg-peru">
    <div class="container-fluid container-lg">
      <a class="navbar-brand mb-0 h1" href="/">
        TU PRESIDENTE
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-2">
          <li class="nav-item text-center pt-4 pt-lg-0">
            <a class="nav-link" href="/sondeo">Estadisticas</a>           
          </li>
        </ul>
        <ul class="navbar-nav ms-auto my-lg-0">
          <li class="nav-item text-center pt-4 pt-lg-0">
            <a class="btn btn-primary rounded-pill" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>