<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('./partials/headView.ejs'); %>
</head>
<body>
 <%- include('./partials/headerView.ejs'); %>
  <main>
    <div class="contacto">
      <div class="container-fluid container-lg">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center justify-content-center py-3">
            <div class="contacto-wrapper">
              <img src="/images/cerro-de-pasco.jpg" alt="cerro-de-pasco" class="img-fluid rounded-circle">
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center my-3 my-lg-0">
            <h2 class="display-4 align-self-stretch fw-normal mb-3 color-peru">Hola Connacionales Peruanos y Peruanas</h2>
            <p class="text-justify color-primary">Soy Especialista Profesional en: <strong class="color-peru">ADMINISTRACION DE PERSONAL Y RELACIONES INDUSTRIALES</strong> y ofresco asesoría en Liquidación de beneficios sociales a trabajadores con termino de contrato próximo y despedidos por la pandemia. Acorde a las normas del Ministerio de Trabajo. <small><strong class="color-peru">Régimen; MICRO – MYPEs, Construcción Civil, Empresas PEQUEÑAS, MEDIANAS y Régimen General.</strong></small></p>

            <ul class="align-self-stretch list-group list-group-flush color-primary">
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">Nombre:</strong>Victor Quispe Ccanccapa</small></li>
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">WhatsApp:</strong>963524127</small></li>
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">Email:</strong>redcancapa@gmail.com</small></li>
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">Servicios:</strong>Formulación de Monografías, Proyectos, Tesis, Apoyo a la Investigación Científica y cultural para
estudiantes de Secundaria, Superior Pedagógico-Tecnológico e Universitario</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('./partials/footerView.ejs'); %>

  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/dist/bundle.js"></script>
</body>
</html>  