<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('./partials/headView.ejs'); %>
</head>
<body>
 <%- include('./partials/headerView.ejs'); %>
  <main>
    <div class="contacto">
      <div class="container-fluid container-lg">
        <div class="row align-items-start">
          <div class="col-lg-5 d-flex flex-column align-items-center justify-content-center py-5 px-lg-5">
            <div class="contacto-wrapper">
              <img src="/images/percy_huaman.jpg" alt="Percy Huamán Gavino" class="img-fluid">
            </div>
            <div class="">
              <h3 class="color-peru my-2" align="center"><small>Lic. Percy Huamán Gavino</small></h3>
              <h5 class="color-peru font-weight-lighter" align="center"><small>Director Regional de Trabajo y Promoción del Empleo</small></h5>
              <hr>
            </div>
          </div>
          <div class="col-lg-7 d-flex flex-column align-items-center justify-content-center my-lg-0 py-5">
            <h2 class="display-4 align-self-stretch fw-normal mb-3 color-peru">Dirección Regional de Trabajo y Promocion del Empleo</h2>
            <p class="text-justify color-primary">Somos una institución publica moderna, líder en la Promoción y Generación de Empleo Productivo y en la Administración del Trabajo, en la perspectiva del fomento de la empleabilidad y de un ambiente Socio Laboral justo y democrático; Promotor en la concertación y dialogo entre los actores sociales y el Estado, para contribuir al mejoramiento de la calidad de vida de la población.<br><small><strong class="color-peru">Direccion Regional de Trabajo Y Promocion del Empleo Pasco (Drtpe Pasco) (DRTPE-PASCO) es una entidad adscrita a Gobierno Regional Pasco.</strong></small></p>
            <ul class="align-self-stretch list-group list-group-flush color-primary">
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">RUC No:</strong>20489252270</small></li>
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">Email:</strong> <a href="mailto:drtrabaj@drtrabajopasco.gob.pe">drtrabaj@drtrabajopasco.gob.pe</a></small></li>
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">Teléfono:</strong>(063) 421859</small></li>
              <li class="list-group-item px-0"><small><strong class="me-3 color-peru">Página Web:</strong><a href="http://www.drtrabajopasco.gob.pe/" target="_blank">http://www.drtrabajopasco.gob.pe/</a></small></li>
              <li class="list-group-item px-0"><small class="d-flex"><strong class="me-3 color-peru">Dirección:</strong><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15683.706537682861!2d-76.2526151!3d-10.6628027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c6762540b8101d9!2sDirecci%C3%B3n%20Regional%20de%20Trabajo%20Pasco!5e0!3m2!1ses!2spe!4v1629217682052!5m2!1ses!2spe" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe></small></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('./partials/footerView.ejs'); %>

  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/dist/bundle.js"></script>
</body>
</html>  