.hero, .sondeo-torta, .contacto{
  padding-top: 10vh;
}
.hero p{
  text-align: center;
}
.hero .row, .pagenotfound .row, .contacto .row{
  min-height: 90vh;
}
.sondeo-torta .row, .sondeo-bar .row{
  min-height: 90vh;
}
.contacto-wrapper{
  width: 80%;
  margin: 0 auto;
}
.contacto-wrapper img{
   border: 3px solid #bf111f;
}
@media only screen and (min-width: 992px){
  .contacto-wrapper img {
    border: 3px solid #bf111f;
    height: 350px;
  }
}

.color-peru{
  color: #bf111f;
}


.candidatos{
  display: grid;
  min-height: 500vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: "candidato1"
    "candidato2"
    "candidato3"
    "candidato4"
    "candidato5"
    "candidato6"
    "candidato7"
    "candidato8"
    "candidato9"
    "candidato10"
    "candidato11"
    "candidato12"
}
.apexcharts-legend{
  display: flex;
  justify-content: center !important;
}
.apexcharts-legend-series{
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .candidatos {
    min-height: 400vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: "candidato1 candidato1 candidato2 candidato2"
      "candidato3 candidato3 candidato2 candidato2"
      "candidato3 candidato3 candidato4 candidato4"
      "candidato5 candidato5 candidato4 candidato4"
      "candidato5 candidato5 candidato6 candidato6"
      "candidato7 candidato7 candidato6 candidato6"
      "candidato7 candidato7 candidato8 candidato8"
      "candidato9 candidato9 candidato8 candidato8"
      "candidato9 candidato9 candidato10 candidato10"
      "candidato11 candidato11 candidato10 candidato10"
      "candidato11 candidato11 candidato12 candidato12"
  }
}

@media only screen and (min-width: 768px){
  .candidatos{
      min-height: 300vh;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "candidato1 candidato1 candidato2 candidato2"
                          "candidato3 candidato4 candidato4 candidato5"
                          "candidato3 candidato6 candidato7 candidato5"
                          "candidato8 candidato6 candidato7 candidato10"
                          "candidato8 candidato9 candidato9 candidato10"
                          "candidato11 candidato11 candidato12 candidato12"
  }
}

.candidato {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.candidato img{
  width: 60px;
  height: 60px;
}
@media only screen and (min-width: 768px) {
  .candidato img {
    width: 100px;
    height: 100px;
  }
}

.candidato1{
  grid-area: candidato1;
  background-image: url(/images/CUÑA/Cesar\ Acuña.jpg);
}
.candidato2{
  grid-area: candidato2;
  background-image: url(/images/GEORGE/George_Forsyth_Sommer.jpg);
}
.candidato3{
  grid-area: candidato3;
  background-image: url(/images/HERNANDO/Hernando\ de\ Soto.jpg);
}
.candidato4{
  grid-area: candidato4;
  background-image: url(/images/HUMALA/Ollanta\ Humala.jpg);
}
.candidato5{
  grid-area: candidato5;
  background-image: url(/images/JONY/Yonhy\ Lescano.jpg);

}
.candidato6{
  grid-area: candidato6;
  background-image: url(/images/JULIO/Julio\ Guzman.jpg);

}
.candidato7 {
  grid-area: candidato7;
  background-image: url(/images/KEIKO/keiko\ Fujimori.jpeg);
}
.candidato8 {
  grid-area: candidato8;
  background-image: url(/images/MRCO/Marco\ Arana.jpg);
}
.candidato9 {
  grid-area: candidato9;
  background-image: url(/images/PEDRO/Pedro\ Castillo.jpg);
}
.candidato10 {
  grid-area: candidato10;
  background-image: url(/images/RAFAEL/Rafael\ Lopez.jpg);
}
.candidato11 {
  grid-area: candidato11;
  background-image: url(/images/URRESTI/Daniel\ Urresti.jpg);
}
.candidato12 {
  grid-area: candidato12;
  background-image: url(/images/VERONICA/Veronika\ Mendoza.jpg);
}
.overlay{
  opacity: 1;
  background: rgba(0, 0, 0, .6);
  transition: opacity 300ms ease-in-out;
}
.candidato .overlay:hover{
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .overlay{
    opacity: 0;
  }
}



.candidato{
  position: relative;
}

.partido{
  width: 30%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 30%);
  border-radius: 20px;
  overflow: hidden;
}

.candidatos p {
  text-align: justify;
}


.color-primary{
  color: #575A89 !important;
}
.color-secondary{
  color: #3F3D56 !important;
}
@media only screen and (min-width: 992px){
  .hero p {
    text-align: justify;
  }
}
footer{
  min-height: 10vh;
}